@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.navbar__link.active {
  color: #fff; /* Kolor aktywnego linku */
  background-color: #333;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #fff;
  color: #333;
  padding: 1.5rem;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Delikatny cień */
  transition: background-color 0.3s ease;
}
.navbar.navbar--scrolled {
  background-color: rgba(248, 249, 250, 0.8); /* Zmienia kolor tła po przewinięciu */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.445);
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.navbar__logo {
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
  z-index: 11;
}
.navbar__menu {
  display: flex;
  flex-direction: row;
}
.navbar__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar__item {
  margin: 0 1rem;
}
.navbar__link {
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-block;
  position: relative; /* Umożliwia pozycjonowanie dla pseudo-elementu */
  padding: 1rem; /* Dodajemy padding, aby link był bardziej przestrzenny */
  transition: color 0.3s ease, background-color 0.3s ease; /* Płynne przejście tła i koloru tekstu */
  text-align: center; /* Wyrównanie tekstu */
  /* Efekt hover */
  /* Aby link wyglądał jak kwadrat */
}
.navbar__link:hover {
  color: white; /* Zmiana koloru tekstu na biały */
  background-color: #333; /* Tło zmienia się na czarne */
}
.navbar__link:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Szerokość kwadratu */
  height: 100%; /* Wysokość kwadratu */
  background-color: #333; /* Czarna ramka */
  z-index: -1; /* Ustawiamy niższy z-index, aby tekst był nad kwadratem */
}
.navbar__toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
.navbar__icon {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

.hero {
  position: relative;
  height: 50vh;
  background-image: url("../img/Jungle_big.jpg");
  background-size: cover;
  background-position: center;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.712);
  z-index: 1;
}
.hero__content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10em;
  height: 100%;
}
.hero__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.hero__subtitle {
  font-size: 2.5rem;
  font-weight: 700;
}

.about-us {
  padding: 2rem;
}
.about-us__title {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}
.about-us__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.about-us__image {
  width: 30%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3rem;
}
.about-us__text {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.7;
  max-width: 500px;
}
.about-us__head {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

.family-adventure {
  position: relative;
  height: 40vh;
  background-image: url("../img/Girl_big.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.family-adventure__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.family-adventure__content {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
}
.family-adventure__title {
  font-size: 2.5rem;
  padding: 2rem 10rem;
  border: 2px solid white;
  display: inline-block;
  font-weight: 500;
}

.offer {
  padding: 3rem;
  text-align: center;
}
.offer__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
  font-weight: 500;
}
.offer__subtitle {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 4rem;
}
.offer__cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.offer__card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px 6px rgba(180, 175, 175, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 350px;
  height: 450px;
}
.offer__card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.offer__card-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
}
.offer__card-price {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}
.offer__card-list {
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
}
.offer__card-list-item {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1.5rem;
  position: relative;
  padding-left: 1.5rem;
}
.offer__card-button {
  background-color: #fff;
  color: #333;
  padding: 0.8rem 1.5rem;
  width: 80%;
  border: none;
  box-shadow: 0 4px 6px rgba(134, 132, 132, 0.39);
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 3rem;
}
.offer__card-button:hover {
  background-color: #e6e6e6;
}
.offer__card-buttonCAL {
  background-color: rgb(90, 247, 117);
  color: #333;
  padding: 0.8rem 1.5rem;
  width: 80%;
  border: none;
  box-shadow: 0 4px 6px rgba(134, 132, 132, 0.39);
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 3rem;
}
.offer__card-buttonCAL:hover {
  background-color: #e6e6e6;
}

.footer {
  background-color: rgba(168, 163, 163, 0.096);
  color: #333;
  padding: 3rem 0;
  font-size: 1rem;
}
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 0 2rem;
}
.footer__logo {
  margin-top: 40px;
  font-size: 3rem;
}
.footer__column {
  flex: 1;
  text-align: right;
}
.footer__column p {
  margin: 0.5rem 0;
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: right;
}
.footer__links {
  list-style: none;
  padding: 0;
  text-align: right;
}
.footer__links li {
  margin: 0.5rem 0;
}
.footer__links li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer__links li a:hover {
  color: #4d4d4d;
}
.footer__bottom {
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__bottom p {
  margin-top: 1rem;
}

.offers-page {
  padding: 20px;
  margin-bottom: 100px;
  background-color: #fff;
}
.offers-page .offers-section__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
.offers-page .offers-section__cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.offers-page .offers-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px 6px rgba(180, 175, 175, 0.5);
  text-align: center;
  width: calc(33.333% - 20px);
  transition: transform 0.3s ease;
}
.offers-page .offers-card__title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.offers-page .offers-card__price {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #2e8b57;
}
.offers-page .offers-card__features {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}
.offers-page .offers-card__feature {
  font-size: 1rem;
  padding: 5px 0;
}
.offers-page .offers-card__feature--disabled {
  color: #ccc;
  text-decoration: line-through;
}
.offers-page .offers-card__button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(134, 132, 132, 0.39);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.offers-page .offers-card__button:hover {
  background-color: rgba(213, 219, 215, 0.6509803922);
}
.offers-page .offers-card__button--cal {
  background-color: rgba(9, 241, 9, 0.582);
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(134, 132, 132, 0.39);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.offers-page .offers-card__button--cal:hover {
  background-color: rgba(213, 219, 215, 0.6509803922);
}
.offers-page .offers-card--basic {
  border: 2px solid #929995;
}
.offers-page .offers-card--standard {
  border: 2px solid #1dca82;
}
.offers-page .offers-card--premium {
  border: 2px solid #929995;
}
.offers-page .offers-card:hover {
  transform: translateY(-10px);
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contact-form {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.582);
  margin-bottom: 40px;
}
.contact-form__title {
  text-align: center;
  color: #333;
}
.contact-form__form {
  display: flex;
  flex-direction: column;
  color: black;
}
.contact-form__label {
  margin-bottom: 5px;
  font-size: 1rem;
  color: #030303;
}
.contact-form__input, .contact-form__textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #3a5a40;
  border-radius: 5px;
}
.contact-form__button {
  background-color: #3a5a40;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact-form__button:hover {
  background-color: #556b2f;
}

.map {
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.map__title {
  margin-bottom: 20px;
  color: #333;
}
.map__container {
  width: 600px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.596);
}

@media (max-width: 768px) {
  .navbar__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
  }
  .navbar__menu.navbar--active__menu {
    display: flex;
    opacity: 1;
  }
  .navbar__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar__item {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
  .navbar__link {
    font-size: 1.5rem;
    color: #333;
  }
  .navbar__toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 11;
  }
  .hero {
    background-image: url("../img/Jungle_small.jpg");
  }
  .hero__content {
    padding-left: 2rem;
    align-items: flex-start;
    text-align: left;
  }
  .hero__title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .hero__subtitle {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .about-us__content {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
  .about-us__title {
    font-size: 2rem;
  }
  .about-us__image {
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
  }
  .about-us__text-content {
    gap: 0.5rem;
  }
  .about-us__head {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .about-us__text {
    font-size: 1rem;
    line-height: 1.2;
  }
  .family-adventure {
    background-image: url(../img/Girl_small.jpg);
    height: 30vh;
  }
  .family-adventure__title {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
  .offer {
    padding: 2rem 1rem;
    text-align: center;
  }
  .offer__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    font-weight: 500;
  }
  .offer__subtitle {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 2rem;
  }
  .offer__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .offer__card {
    width: 100%;
    height: auto;
    padding: 1.5rem;
  }
  .offer__card:hover {
    transform: none;
    box-shadow: none;
  }
  .offer__card-title {
    font-size: 1.5rem;
  }
  .offer__card-price {
    font-size: 2.5rem;
  }
  .offer__card-list {
    margin-bottom: 2rem;
  }
  .offer__card-list-item {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .offer__card-button, .offer__card-buttonCAL {
    padding: 0.6rem 1rem;
    width: 100%;
    font-size: 0.9rem;
  }
  .footer {
    padding: 2rem 0;
  }
  .footer__container {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
  .footer__column {
    margin-bottom: 1rem;
  }
  .footer__title {
    font-size: 1.2rem;
    text-align: center;
  }
  .footer__links li {
    margin: 0.3rem 0;
    text-align: center;
  }
  .offers-page {
    padding: 15px;
    margin-bottom: 60px;
  }
  .offers-page .offers-section__title {
    font-size: 1.5rem;
  }
  .offers-page .offers-section__cards {
    flex-direction: column;
  }
  .offers-page .offers-card {
    width: 100%;
    padding: 20px;
  }
  .offers-page .offers-card__title {
    font-size: 1.25rem;
  }
  .offers-page .offers-card__price {
    font-size: 1.75rem;
  }
  .contact-form__title {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=main.css.map */